body {
  padding: 0 30px 0 30px;
}
h1 {
  color: purple;
}

button {
  font-size: 16px;
  padding: 8px;
}

.redButton{
  background-color: pink;
}
.greenButton{
  background-color: lightgreen;
}
.blueButton{
  background-color: lightblue;
}
.yellowButton{
  background-color: yellow;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin-top: 15px; 
}

button:hover {
  box-shadow: 3px 3px 20px red;
  border: none;
  }

button:active {
  background-color: black;
}
